{% extends 'base.html' %}

{% block title  %}
<center>
Recommended Food
</center>
{% endblock  %}

{% block lead  %}
<center>
오늘은 이 음식 어떠세요? :)
</center>
{% endblock  %}

{% block main_body  %}
{% if image_list %}
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Image</th>
      <th scope='col'>Title</th>
      <th scope-'col'>Upload_Date</th>
    </tr>
  </thead>
  <tbody>
    {% for image in image_list %}
    <tr>
      <th scope='row'>{{ image.id }}</th>
      <td> <img src='data:;base64, {{ image.rendered_data }}' width='500', height='Auto'> </td>
      <td>{{ image.imgname }}</td>
      <td>{{ image.pic_date }}</td>
      <td>
        <a class="btn btn-secondary", href='/random_show'>
          다시 돌리기!
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if recommend_f %}
<p>'{{ recommend_f }}'</p>
{% endif %}
{% endblock  %}
