{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
<center>
    Photo zone
</center>
{% endblock %}

{% block lead %}
<center>
    You can upload & evaluate your favorite fashion style here.
</center>
{% endblock %}

{% block main_body %}
<form method="POST" action="/image/upload" enctype="multipart/form-data">
  <input type='file' name="imgdata" accept="image/*" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter user" multiple>
  <input type="submit" class="btn btn-primary" value="Add" />
</form>

{% if image_list %}
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Image</th>
      <th scope='col'>Title</th>
      <th scope-'col'>Upload_Date</th>
    </tr>
  </thead>
  <tbody>
    {% for image in image_list %}
    <tr>
      <th scope='row'>{{ image.id }}</th>
      <td> <img src='data:;base64, {{ image.rendered_data }}' width='500', height='Auto'> </td>
      <td>{{ image.imgname }}</td>
      <td>{{ image.pic_date }}</td>
      <td>
        <a class="btn btn-secondary", href='/image/upload/{{ image.id }}'>
          Delete
        </a>
        <a class="btn btn-secondary", href='/comment/{{ image.id }}'>
          Comment
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}