{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - 뭐 먹으러 갈까?{% else %}뭐 먹으러 갈까에 오신것을 환영합니다.{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        뭐 먹으러 갈까?:
        <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('index') }}">Home</a></button>
        <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('explore') }}">Explore</a></button> 
        <button type="button" class="btn btn-default navbar-btn"><a href="/upload">음식업로드</a></button> 
        <button type="button" class="btn btn-default navbar-btn"><a href="/random_show">랜덤음식선택하기</a></button> 
        
        
        {% if current_user.is_anonymous %}
        <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('login') }}">Login</a></button>
       
        {% else %}
        <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></button>
        <button type="button" class="btn btn-default navbar-btn"><a href="{{ url_for('logout') }}">Logout</a></button>
        
        
        {% endif %} 
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
