{% extends "base.html" %}

{% block content  %}
<center>
Recommended Food
</center>

<center>
오늘은 이 음식 어떠세요? :)
</center>

{% if image_list %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Image</th>
      <th scope = 'col'>Dislike</th>
      <th scope = 'col'>Soso..</th>
      <th scope = 'col'>Like</th>
      <th scope='col'>Title</th>
      <th scope-'col'>Upload_Date</th>
    </tr>
  </thead>
  <tbody>
    {% for image in image_list %}
    <tr>
      <th scope='row'>{{ image.id }}</th>
      <td> <img src='data:;base64, {{ image.rendered_data }}' width='500', height='Auto'> </td>
      <td><form action="/random_show/notprefer/{{image.imgname}}" method="POST">
        <button type="text" class="search-btn">
            <i class="far fa-thumbs-down" style="font-size:45px"></i>
        </button>
        </form></td>
        <td><form action="/random_show/soso/{{image.imgname}}" method="POST">
          <button type="text" class="search-btn">
              <i class="fas fa-align-center" style="font-size:45px"></i>
          </button>
          </form></td>
      
      <td><form action="/random_show/prefer/{{image.imgname}}" method="POST">
        <button type="text" class="search-btn">
            <i class="far fa-thumbs-up" style="font-size:45px"></i>
        </button>
        </form></td>
      <td>{{ image.imgname }}</td>
      <td>{{ image.pic_date }}</td>
      <td>
        <a class="btn btn-secondary", href='/random_show'>
          다시 돌리기!
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- 확인용 (나중에 삭제할 것!) -->
<br/>
<br/>
<h2>확인용 (나중에 삭제할 것!)</h2> 
<h2>유저명 : {{current_username}}</h2>
<h3>카테고리별 Json</h3>
<h3>{{ cat_dict }}</h3>
<br/>
<br/>
<h3>필터링 Json (1 : 삭제 / 0 : 아직 안본 이미지)</h3>
<h4>{{ filter_dict }}</h4>
<br/>
<br/>
<h3>선호도 Json (0 : 아직 안 봄 / 1 : 비선호 / 2 : 중간 / 3 : 선호</h3>
<h4>{{ pref_dict }}</h4>

{% endif %}
{% endblock  %}
